<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String">Curso</Data></Cell>
        <Cell><Data ss:Type="String">Estado</Data></Cell>
      </Row>
      <% @cursos.each do |curso| %>
        <% if FormularioCurso.where(:formulario_id => @formulario, :curso_id => curso).first.nil? %>
        <% elsif @formulario.contestado?(curso) %>
        <Row>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"><%= curso.codigo %></Data></Cell>
          <Cell><Data ss:Type="String">Contestado</Data></Cell>
        </Row>
        <% else %>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>