<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido <%= @user.name %>!</h1>
    <p>Su clave es la siguiente: <%= @password %></p>
	<p>Puede cambiarla desde su panel de administración</p>
  </body>
</html>