<div class="span8 offset2">
  <div class="row fluid">
    <% if @cursos.any? %>
      <% contador = 0 %>
      <% @cursos.each do |curso| %>
        <% if contador % 2 == 0 %>
          <ul class="thumbnails">
        <% end %>
            <li class="span6">
              <a href="/sesions/curso/<%= curso.id %>" class="thumbnail">
                <div class="caption">
                  <h3 class="text-center"><%= curso.nombre %></h3>
                </div>
              </a>
            </li>
            <% contador = contador + 1 %>
        <% if contador % 2 == 0 %>
          </ul>
        <% end %>
      <% end %>
    <% else %>
      <div class="hero-unit">
        <h2>No tienes ninguna sesión programada</h2>
      </div>
    <% end %>
  </div>
</div>
