<div class="span2"></div>
<div class="span10">
	<h3><%= @curso.nombre %></h3>
	<p>
	  <b>Codigo:</b>
	  <%= @curso.codigo %>
	</p>

	<p>
	  <b>Comuna:</b>
	  <%= @curso.comuna %>
	</p>
	<br />
	<h4>Sesiones</h4>
	<a data-toggle="modal" href="#new-sesion" class="btn btn-mini btn-info" type="button">Agregar Sesión</a>
  	<%= render 'new_sesion' %>
</div>
