<div class="span2"></div>
<div class="span10">
	<h3><%= @curso.nombre %></h3>
	<p>
	  <b>Codigo:</b>
	  <%= @curso.codigo %>
	</p>

	<p>
	  <b>Comuna:</b>
	  <%= @curso.comuna %>
	</p>
	<br />
	<h4>Sesiones</h4>
</div>
