<div class="span2"></div>
<div class="span8">
	<h3>¿Cómo conseguir el código del formulario de Drive?</h3>
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-right" src="/images/paso-1.png">
		<h2 class="featurette-heading">1. Abrir el formulario.</h2>
		<p class="lead">Dirígete al Google Drive que tiene el formulario, busca el formulario que quieres y ábrelo.</p>
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-left" src="/images/paso-2.png">
		<h2 class="featurette-heading">2. Ver vista previa.</h2>
		<p class="lead">En el menú debes hacer click en "Ver el formulario publicado" para ver el formulario real.</p>
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-right" src="/images/paso-3.png">
		<h2 class="featurette-heading">3. Copia la url de la página.</h2>
		<p class="lead">Una vez en el formulario selecciona la url y copiala (botón derecho -> copiar).</p>
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-left" src="/images/paso-4.png">
		<h2 class="featurette-heading">4. Pega la url.</h2>
		<p class="lead">Pega la url copiada en el campo que corresponde al ingresar un nuevo formulario</p>
	</div>
	
	<br><br>
	<%= link_to("Atrás", new_formulario_path, :class => 'btn') %>
	<br><br><br>
</div>
