<div class="span3"></div>
<div class="span6">
  <h3>Útilmos Cambios</h3>
  <% if @updates.any? %>
    <table class="table table-condensed table-striped sortable">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Entidad</th>
          <th>Cambio</th>
          <th>Usuario</th>
        </tr>
      </thead>
      <tbody>
        <% @updates.each do |update| %>
          <tr>
            <td><%= update.created_at %></td>
            <td><%= update.audited_changes %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <br />
  <% end %>
</div>