// Place all the styles related to the Sesions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sesions-sidenav{
    position:relative;
	width: 100%;
    height: 100%;
}

.affix-container{
    overflow: hidden;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: white;
    background-color: black;  
} 

.badge-sidenav-active{
	background-color: white;
	color: black;
}

body .modal-excel {
    width: 30%;
    left: 35%; /* (100%-width)/2 */
    margin-left:auto;
  	margin-right:auto;
}

body .modal-nuevo-alumno {
    width: 26%;
    left: 37%; /* (100%-width)/2 */
    margin-left:auto;
  	margin-right:auto;
}